@model VideoVerhuur.Models.AfrekenenViewModel
@{
    ViewBag.Title = "Afrekenen";    
}

<h2>Afrekenen</h2>

<table class="table-condensed table-striped table-bordered">
    <thead>
        <tr>
            <th class="">Titel</th>
            <th class="text-center">Prijs</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var film in Model.Films)
        {            
            Model.TotaalPrijs += film.Prijs;
            <tr>
                <td>@film.Titel</td>
                <td class="text-center">@Html.DisplayFor(m => film.Prijs)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td class="text-center"><strong>Totaal:</strong></td>
            <td>@Html.DisplayFor(m => Model.TotaalPrijs )</td>
        </tr>
    </tfoot>
</table>
<hr />
<div>
    <p>Wordt gefactureerd aan: </p>
    <p>@Model.Klant.Voornaam @Model.Klant.Naam</p>
    <p>@Model.Klant.Straat_Nr</p>
    <p>@Model.Klant.PostCode @Model.Klant.Gemeente</p>
</div>

