@using VideoVerhuur.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/images/ms-icon-310x310(1).png" type="image/x-icon" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <img src="~/images/videoVerhuur.jpg" style="width: 157px" />
        <hr />
        @if(Session["klant"] == null)
        {
            <p>Eerst aanmelden om te kunnen huren!</p>
        }
        else
        {
            var klantNaam = $"{((Klant)Session["klant"]).Voornaam} {((Klant)Session["klant"]).Naam}";
            <p> Welkom, @klantNaam</p>
        }
        <div style="padding-bottom: 20px">
            @Html.ActionLink("Uitloggen en naar beginpagina", "Uitloggen", "Home")
            @if(ViewContext.RouteData.Values["action"].ToString().ToLower() == "winkelmandje")
            {
                @Html.ActionLink("Afrekenen", "Afrekenen", "Verhuur", new { @class = "padding-left"} )
            }
        </div>


    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
